server:
  port: 9090
  error:
    include-message: always

spring:
  jpa:
    database: POSTGRESQL
    show-sql: true
    hibernate:
      ddl-auto: create-drop
  datasource:
    platform: postgres
    url: jdbc:postgresql://localhost:5432/app
    username: postgres
    password: *********
    driverClassName: org.postgresql.Driver
    webmvc:
      cors:
        allowed-origins: "http://localhost:3000"

